// Colors.
$primary-color: #528bff;
$white: #ffffff;
$black: #000000;
$font-color: #444444;

// Sizes.
$font-size: 16px;
$line-height: 1.5;
$heading-margin: 0.7em;

$margin-top-between-sections: 3rem;