<template>
  <div class="card">
    <div class="card-image">
      <figure class="image is-18by9">
        <!-- <img
          v-if="article.content.teaser_image"
          class="card-img-top"
          :src="article.content.teaser_image | resize('500x200')"
          alt="image"
        >-->
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <!-- <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>-->
        </div>
        <div class="media-content">
          <p class="title is-4">
            <nuxt-link :to="`/${article.full_slug}`">{{ article.content.title }}</nuxt-link>
          </p>
          <p class="subtitle is-6">{{$WhiteLabel.brandname}}</p>
        </div>
      </div>

      <div class="content">
        <markdown :text="article.content.intro"></markdown>

        <br>
        <i class="fas fa-calendar-alt"></i>
        <time :datetime="article.published_at">           
          {{ new Date(article.published_at).toDateString() }}
        </time>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["article"]
};
</script>
