<template>
  <section class="cBlokProduct" v-editable="blok">
    <div class="container">
      <div class="columns is-multiline is-gapless">
        <div class="column is-full">
          <article class>
            <ProductImagesGallery :images="images_combined"></ProductImagesGallery>

            <section class="section has-text-centered">
              <h1 class="title has-text-centered">{{ blok.title }}</h1>
              <ColorList :colors="blok.color"></ColorList>
            </section>
          </article>

          <component
            :component="blok.component"
            :dashifyis="blok.component | dashify"
            :key="blok._uid"
            v-for="blok in blok.body_area"
            :blok="blok"
            :is="blok.component | dashify"
          ></component>
        </div>

        <div class="column is-9">
          <!-- <p class="subtitle">This column will take up the remaining space available.</p> -->

          <div class="container is-fluid">
            <!--  don't want to have a maximum width but want to keep the 32px margin on the left and right sides, add the is-fluid modifier -->
            <div class="subtitle">
              <markdown :text="blok.intro"></markdown>
            </div>

            <markdown class="content" :text="blok.long_text"></markdown>
          </div>
        </div>

        <div class="column is-3">
          <!-- <ProductAddToCartNormalButton :product="model"/> -->
          <!-- <ProductPriceDisplay :product="model"/> -->

          <ProductSizeGuide class="box" :size="blok.size" />
          <ProductFaceShapes class="box" :face_shapes="blok.face_shapes" />

          <!-- <div class="box CategoryTagBox">
                <ListCategory :categories="categories" style="margin: 0.5rem 0"/>
                <ListTag :tags="model.fields.tags"/>
          </div>-->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["blok"],
  data() {
    return {
      // categories: []
    };
  },
  computed: {
    images_combined() {
      let images_external = (this.blok.images_external || "").split("\n");
      return (this.blok.images || []).concat(images_external).filter(i => i); // remove empty entry
    }
  },
  mounted() {
    // this.$storyapi
    //   .get('cdn/stories', {
    //     starts_with: 'categories/',
    //     cv: this.$store.state.cacheVersion
    //   })
    //   .then(res => {
    //     this.categories = res.data.stories
    //   })
    //   .catch(res => {
    //     console.error('Failes to load resource', res)
    //   })
  }
};
</script>