<template>
  <div v-editable="blok" v-html="markdownText"></div>
</template>

<script>
import marked from "marked";

export default {
  computed: {
    markdownText() {
      return marked(this.blok.text);
    }
  },
  props: ["blok"]
};
</script>
