<template>
  <section
    v-editable="blok"
    class="CallToAction"
    :style="{'backgroundImage': `url(${blok.background})`}"
  >
    <div class="columns">
      <div class="column">
        <div class="content has-text-centered">
          <h1 v-if="blok.headline" class="headline title">{{ blok.headline }}</h1>

          <h3 v-if="blok.subheadline" class="subtitle">{{ blok.subheadline }}</h3>

          <markdown v-if="blok.text" :text="blok.text"></markdown>

          <component
            v-for="blok in blok.buttons"
            :key="blok._uid"
            :blok="blok"
            :is="blok.component | dashify"
          ></component>
        </div>
      </div>
    </div>
    <component
      :key="blok._uid"
      v-for="blok in blok.body"
      :blok="blok"
      :is="blok.component | dashify"
    />
  </section>
</template>

<script>
export default {
  props: ['blok']
}
</script>

<style lang="scss" >
@import '~assets/scss/var.scss';

.CallToAction .headline {
  margin-top: $margin-top-between-sections;
}
</style>
