<template>
  <header v-editable="blok">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a :href="blok.logo_link.cached_url">
          <img :src="blok.logo" alt="Logo" style="height: 2.8rem" :title="$WhiteLabel.brandname">
        </a>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
          <template v-if="blok.nav_links && blok.nav_links.length">
            <component
              :key="blok._uid"
              v-for="blok in blok.nav_links"
              :blok="blok"
              :is="blok.component | dashify"
            ></component>
          </template>
        </div>

        <div class="navbar-end">
          <template v-if="blok.second_nav_links && blok.second_nav_links.length">
            <component
              :key="blok._uid"
              v-for="blok in blok.second_nav_links"
              :blok="blok"
              :is="blok.component | dashify"
            ></component>
          </template>

          <div
            class="navbar-item"
            v-if="$WhiteLabel.languagesAllowed && Object.keys($WhiteLabel.languagesAllowed).length  > 1"
          >
            <LanguageSelector></LanguageSelector>
          </div>

          <div class="navbar-item" v-if="blok.button_text">
            <div class="buttons">
              <a
                v-if="blok.button_text"
                class="button is-primary"
                :href="blok.button_link.cached_url"
              >{{ blok.button_text }}</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <nav class="has-text-centered" role="navigation" aria-label="categories navigation">
      <!-- <CategoryList :categories="['Women', 'Men', 'New', 'Sales!']" /> -->
    </nav>
  </header>
</template>

<script>
export default {
  props: ["blok"]
};
</script>
