<template>
  <div v-editable="blok" class="tile is-parent">
    <article class="tile is-child box" :style="{'backgroundImage': `url(${blok.background})`}">
      <p class="title is-4">
        <a :href="link">{{ blok.headline }}</a>
      </p>
      <div class="content">
        <p>{{ blok.text }}</p>
        <figure class="image is-4by3" v-if="blok.icon">
          <img :src="blok.icon" :alt="blok.headline">
        </figure>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  props: ["blok"],
  computed: {
    link() {
      return this.blok.link ? this.blok.link.cached_url : "#";
    }
  }
};
</script>
