<template>
  <a v-editable="blok" 
   class="button" 
   :style="{display: blok.is_block ? 'block' : 'unset'} " 
   :href="blok.link.cached_url" 
   target="_blank">
     {{ blok.text }}
    </a>
</template>

<script>
export default {
  props: ['blok']
}
</script>
