<template>
  <section class v-editable="blok" data-meta-type="Components / BlokArticle">
    <div class="container">
      <div class="row">
        <div class="col-8 text-left ">
          <h1 class="title">{{ blok.title }}</h1>

          <img
            :src="blok.teaser_image | resize('800x0')"
            class="img-fluid"
            alt="image"
            v-if="blok.teaser_image"
          >

          <p class="subtitle">
            <markdown :text="blok.intro"></markdown>
          </p>

          <markdown :text="blok.long_text"></markdown>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['blok'],
  data() {
    return {
      // categories: []
    }
  },
  mounted() {
    // this.$storyapi
    //   .get('cdn/stories', {
    //     starts_with: 'categories/',
    //     cv: this.$store.state.cacheVersion
    //   })
    //   .then(res => {
    //     this.categories = res.data.stories
    //   })
    //   .catch(res => {
    //     console.error('Failes to load resource', res)
    //   })
  }
}
</script>
