<template>
  <footer class="footer has-background-dark has-text-white-ter" v-editable="blok">
    <div class>
      <section class="hero">
        <div class="hero-body has-text-centered">
          <h1 class="title has-text-white-ter">Let's keep in touch</h1>
          <h2
            class="subtitle has-text-grey-lighter"
          >Receive our newsletter and discover our stories, collections and surprises.</h2>
          <div>
            <a class="button is-link is-inverted is-outlined is-large">Subscribe</a>
          </div>
        </div>
      </section>
    </div>

    <hr>

    <div class="FooterExtraInformation columns is-multiline is-mobile is-size-6">
      <ul class="column">
        <component
          :key="blok._uid"
          v-for="blok in blok.body"
          :blok="blok"
          :is="blok.component | dashify"
        ></component>
      </ul>
      <ul class="column">Contact</ul>
      <ul class="column">Address</ul>
    </div>

    <hr>
    <div class="columns is-multiline is-mobile">
      <ul class="column">
        <div class="content">
          © 2019 LIÉBE - ALL RIGHTS RESERVED.
          <span>
            <a class="has-text-grey" href="https://gurucore.com">v{{version}}</a>
          </span>
        </div>
      </ul>

      <div class="column">
        <div class="content has-text-right">
          facebook
          twitter
          instagram
          vimeo
        </div>
      </div>
    </div>

    <div
      class="has-text-grey is-size-7"
    >Pictures and images on this website are for illustration purposes only. No qualities or characteristics of the products depicted herein could be inferred from the relevant pictures.</div>
  </footer>
</template>



<script>
export default {
  props: ["blok"],

  computed: {
    version() {
      return this.$packageJson.version;
    }
  }
};
</script>

<style lang="scss">
@import "~assets/scss/var.scss";

.footer {
  margin-top: $margin-top-between-sections;
}
</style>
