<template>
  <div v-editable="blok" class="page cPage">
    <component :component="blok.component" :dashifyis="blok.component | dashify" :key="blok._uid" v-for="blok in blok.body" :blok="blok" :is="blok.component | dashify"></component>
  </div>
</template>

<script>
export default {
  props: ['blok']
}
</script>
