
<template>
  <section 
    v-editable="blok"
    class="hero is-medium is-primary is-bold"
    :style="{'backgroundImage': `url(${blok.background})`}"
  >
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ blok.headline }}</h1>
        <h2 class="subtitle">{{ blok.subheadline }}</h2>
        <markdown v-if="blok.text" :text="blok.text"></markdown>

        <component
          v-for="blok in blok.buttons"
          :key="blok._uid"
          :blok="blok"
          :is="blok.component | dashify"
        ></component>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ['blok']
}
</script>
