<template>
  <div class="container">
    <h3 class="">Categories</h3>
    <ul class="list-unstyled mb-0">
      <li v-for="category in categories" :key="category.id">
        <a :href="`?filter=${category.uuid}`">{{ category.name }}</a>
      </li>
    </ul>    
  </div>
</template>

<script>
export default {
  props: ['categories'],
}
</script>
