<template>
  <span class="cColorList">
    <span
      v-for="c in colors_transformed"
      :key="c.color"
      class="colorBadge"
      :style="{ 'backgroundColor': `#${c.color}` }"
      :title="c.label"
    >
      <span class="colorBadgeLabel" :style="{'color': `#${c.color}` }"></span>
    </span>
  </span>
</template>

<script>
import marked from "marked";
import ColorList from "~/components/ColorList";

/**
 * Showing a list of color small block, take [Black_000000], display a black box with "Black" label inside
 */
export default {
  extends: ColorList,
  props: ["colors"],
  computed: {
    colors_transformed() {
      return this.colors.map(c => {
        let vals = c.split("_");
        return {
          label: vals[0].trim(),
          color: vals[1].trim()
        };
      });
    },
    numberOfColors() {
      return (this.colors || []).length;
    }
  }
};
</script>


<style>
.colorBadge {
  margin-right: 0.30vw;
  display: inline-block;
  padding: 0.3rem 0.66rem;
}
</style>