<template>
  <div class="cColorList">
    <label>{{colors_length}} colors</label>

    <span
      v-for="c in colors_transformed"
      :key="c.color"
      class="colorBadge"
      :style="{ 'backgroundColor': `#${c.color}` }"
    >
      <span class="colorBadgeLabel" :style="{'color': `#${c.color}` }">{{ c.label }}</span>
    </span>
  </div>
</template>

<script>
import marked from "marked";

/**
 * Showing a list of color small block, take [Black_000000], display a black box with "Black" label inside
 */
export default {
  props: ["colors"],
  computed: {
    colors_transformed() {
      return (this.colors || []).map(c => {
        let vals = c.split("_");
        return {
          label: vals[0].trim(),
          color: vals[1].trim()
        };
      });
    },
    colors_length() {
      return this.colors_transformed.length;
    }
  }
};
</script>


<style>
.colorBadge {
  margin-right: 1vw;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

/* Make the text color invert from the background */
.colorBadgeLabel {
  filter: invert(100%);
  font-size: smaller;
}
</style>