<template>
  <div
    class="LanguageSelector buttons are-small has-addons"
    v-if="$WhiteLabel.languagesAllowed && Object.keys($WhiteLabel.languagesAllowed).length  > 1"
  >
    <a
      v-for="l in $WhiteLabel.languagesAllowed"
      :key="l"
      class="button is-small"
      :class="{
      'is-info': language == l
    }"
      @click="changeLanguage"
      :data-lang="l"
    >{{ getLangInfo(l).text }}</a>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      languagesMappingTable: {
        en: { text: "English" },
        ja: { text: "日本語" }
      }
    };
  },

  computed: {
    ...mapState(["language"])
  },
  mounted() {},
  methods: {
    getLangInfo(langId) {
      if (!langId) {
        return this.languagesMappingTable["en"];
      }
      return this.languagesMappingTable[langId];
    },

    changeLanguage(event) {
      let langToSwitch = event.target.getAttribute("data-lang");

      if (langToSwitch == this.language) {
        // console.log("nothing to do, stay in current language", langToSwitch);
      } else {
        console.log(" redirect to sublang path ", this.language + window.location.pathname);
        this.setLanguage(langToSwitch);
        window.localStorage.setItem("language", this.language);
      }
    },
    ...mapMutations(["setLanguage"])
  }
};
</script>
