<template>
  <div v-html="markdownText"></div>
</template>

<script>
import marked from "marked";

/**
 * component to render markdown prop, any prop (inside block) will use this to render markdown text
 * not only Block with type Markdown
 */
export default {
  props: ["text"],
  computed: {
    markdownText() {
      if (typeof this.text !== "undefined") {
        return marked(this.text);
      }
      return "";
    }
  }
};
</script>
