<template>
  <div v-if="branch.item.name != 'Settings'" class="SiteMapItem">
    <div>
      <a :href="'/' + branch.item.slug">{{branch.item.name}}</a>
    </div>

    <dl v-if="branch.children.length > 0">
      <li v-for="subbranch in branch.children" :key="subbranch.id">
        <SitemapItem :branch="subbranch"/>
      </li>
    </dl>
  </div>
</template>

<script>
export default {
  props: ['branch']
}
</script>
<style>
.SiteMapItem {
  display: inline-block;
}
</style>

