<template>
<div class="box">
  <h2 class="subtitle has-text-weight-bold has-text-black">Loại hàng</h2>
  <div class="field" v-for="type in types" :key="type">
      <b-checkbox @change="selectType" v-model="selectedTypes"
          :native-value="type" class="is-warning"> {{ type }}</b-checkbox>
  </div>
</div>
</template>
<script>
export default {
  props: ["value"],
  data() {
    return {
      // types: ["túi", "ví", "phụ kiện"],
      selectedTypes: []
    };
  },

  computed: {
    types() {
      return this.$store.state.categories.map(c => c.fields.title);
    }
  },

  methods: {
    selectType() {
      console.log(selectedTypes);
    }
  }
};
</script>