<template>
  <span v-if="discountPercent > 29" class="ProductBadge tag is-medium is-danger">{{discountPercent}}%</span>
</template>

<script>
import ProductPricingBase from "./ProductPricingBase"

export default {
  props: ["product"],

  extends: ProductPricingBase,

  computed: {    
  }
};
</script>

<style scss lang="scss">
</style>
