<template>
  <span v-if="tags && tags.length > 0" class="ProductBadgeTags">
    <span v-for="tag in tags" :key="tag" class="ProductBadge tag is-medium is-danger">{{tag}}</span>
  </span>
</template>

<script>
import ProductPricingBase from "./ProductPricingBase";

export default {
  props: ["product"],

  extends: ProductPricingBase,

  computed: {
    tags() {
      return (this.product.content.tags || []).filter(t => t.indexOf("$") == 0).map(t => t.substr(1).trim());
    }
  }
};
</script>

<style scss lang="scss">
</style>
