<template>
  <div class="cProductListItemCard ProductListItemCard" @mouseover="hovering = true" @mouseleave="hovering = false">
    <div class="level is-mobile is-clearfix BadgeList">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <!-- <ProductBadgeDiscount :product="product"/> -->
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <!-- <ProductBadgeTags :product="product"/> -->
        </div>
      </div>
    </div>

    <figure class="image product-image" @click="modalActive = true">
      <router-link
        :to="{ name: 'product-productslug', params: { id: product.id, productslug: product.slug } } "
      >
        <!-- <LazyImage
          :src="product.fields.image[0].fields.file.url"
          :alt="product.fields.productName"
          :lazy="shouldLazyImage"
        /> -->
      </router-link>
    </figure>

    <div class="box product-box">
      <h3 class="has-text-centered product-title" :title="product.productName">
        <router-link
          :to="{ name: 'product-productslug', params: { id: product.id, productslug: product.slug } } "
        >{{ product.productName }}</router-link>
      </h3>

      <!-- <ProductPriceDisplay :product="product"/> -->
    </div>
  </div>
</template>

<script>



/**
 * a card, display the product in listing (grid or list)
 * lazy load if indexInList < 2
 */
export default {
  props: ["product", "indexInList"],
  components: {
  },
  data() {
    return {
      modalActive: false,
      hovering: false
    };
  },
  mounted() {
    if (this.debug) {
      console.log(this.product.fields);
    }
  },
  computed: {
    shouldLazyImage() {
      if (this.indexInList == null || this.indexInList == undefined) {
        return false;
      }

      if (this.indexInList < 2) {
        return false;
      }

      // should lazy if index is 2 3 4
      return true;
    }
  }
};
</script>

<style scss lang="scss" scoped>
/* Hide the AddToCart button, because it is big and rotate */
.ProductListItemCard {
  // overflow: hidden;  
  background-color: white;
  border-radius: 5px;

  .BadgeList {
    min-height: 2rem
  }
}



.box {
  /* background: #f4f2f3; */
  box-shadow: none;
}
.box:not(:last-child) {
  margin-bottom: auto;
}

/* .product-box {
  opacity: 0.5;
} */

.product-image img {  
  width: auto;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
  max-height: 30vw;
}
.product-title {
  font-weight: 400;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;  
  height: 4rem;  
}
</style>
