<template>
  <div
    class="cProductListItem card"
    :class="{ 'is-shadowless' : !isHovering }"
    @mouseover="isHovering = true"
    @mouseout="isHovering = false"
  >
    <!-- we can use {{product.content.categories}} to know the tag of this product New Sale OOS -->
    <div class="level is-mobile is-clearfix BadgeList">
      <!-- Left side -->
      <div class="level-left">
        <div class="level-item">
          <!-- <ProductBadgeDiscount :product="product"/> -->
        </div>
      </div>

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <ProductBadgeTags :product="product"/>
        </div>
      </div>
    </div>

    <div class="card-image">
      <figure class="image is-2by1">
        <nuxt-link :to="`/${product.full_slug}`">
          <img class="card-img-top" :src="image_showing" alt="product image">
        </nuxt-link>
      </figure>
    </div>
    <div class="card-content">
      <div class="has-text-centered">
        <ColorListSmallInListing :colors="product.content.color"></ColorListSmallInListing>
      </div>
      <div class="media" style="height: 4rem">
        <div class="media-content">
          <p class="title is-5 has-text-centered">
            <nuxt-link :to="`/${product.full_slug}`">{{ product.content.title }}</nuxt-link>
          </p>
        </div>
      </div>

      <div class="content"></div>
    </div>
  </div>
</template>

<script>
import ColorListSmallInListing from "~/components/ColorListSmallInListing";
export default {
  props: ["product"],
  components: { ColorListSmallInListing },
  data() {
    return {
      isHovering: false
    };
  },
  computed: {
    images_combined() {
      if (this.product) {
        let images = [];
        let images_external = (this.product.content.images_external || "").split("\n");
        if (this.product.content.images) {
          images = this.product.content.images.map(i => i.filename);
        }

        return images.concat(images_external).filter(i => i); // remove empty entry
      }

      return [];
    },

    /**
     * on hover, we show this image_second if it is different from image_first
     */
    image_showing() {
      return this.isHovering && this.image_second !== this.image_first ? this.image_second : this.image_first;
    },

    image_first() {
      // https://picsum.photos/
      // https://picsum.photos/g/800/300/?random&blur

      // "https://via.placeholder.com/600x200?text=We%20don%27t%20have%20photo%20of%20this%20product%20yet"

      // https://dummyimage.com/800x300/d9c8d9/fff.png&text=This+product+does+not+have+photo+yet

      // http://lorempixel.com/800/200/fashion/Missing-photo/
      return this.images_combined[0] || "https://picsum.photos/g/800/300/?random";
    },

    image_second() {
      if (this.images_combined[1]) {
        return this.images_combined[1];
      } else return this.image_first;
    }
  },
  methods: {}
};
</script>

<style lang="scss">
.BadgeList {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
</style>

