<template>
<div>
</div>
</template>

<script>
export default {
  props: ["product"],
  computed: {
    salePrice() {
      if (this.product.fields.SalePrice) {
        return this.product.fields.SalePrice;
      } else {
        return this.product.content.price;
      }
    },

    discountPercent() {
      return Math.round((100 * (this.product.content.price - this.salePrice)) / this.product.content.price);
    }
  }
};
</script>
