<template>
  <section class>
    <div
      class="buttons are-small has-addons is-right is-hidden-touch ListViewAsSwitcher"
      v-if="enableViewAsSwitcher"
    >
      <!-- hide on touch devices -->
      <button
        class="button is-rounded"
        :class="{'is-primary': viewAs == 'small' }"
        @click="changeViewAs('small')"
      >nhỏ</button>
      <button
        class="button is-rounded"
        :class="{'is-primary': viewAs == 'big' }"
        @click="changeViewAs('big')"
      >Lớn</button>
    </div>

    <div class="container">
      <div
        class="columns is-multiline is-variable is-mobile"
        style="background-color: transparent "
      >
        <div
          class="column"
          :class="{'is-half': viewAs == 'big', 'is-one-third': viewAs == 'small' }"
          v-for="(product,index) in products"
          :key="product._id"
        >
          <ProductListItem :product="product" :indexInList="index"></ProductListItem>
        </div>
        <!-- // TODO lazyload the image after item 4 -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["products", "enableViewAsSwitcher"],
  data() {
    return {
      viewAs: "big"
    };
  },
  mounted() {
    var imgDefer = document.getElementsByTagName("img");
    setTimeout(() => {
      for (var i = 0; i < imgDefer.length; i++) {
        if (imgDefer[i].getAttribute("data-src")) {
          imgDefer[i].setAttribute("src", imgDefer[i].getAttribute("data-src"));
        }
      }
    }, 333);
  },

  methods: {
    changeViewAs(viewAs) {
      this.viewAs = viewAs;
    }
  }
};
</script>
<style lang="scss">
// stick to the top right of the list
.ListViewAsSwitcher {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 10;
}
</style>
