<template>
  <div class="cProductImagesGallery">
    <no-ssr placeholder="Loading images...">
      <agile :infinite="true" v-if="images_transformed && images_transformed.length > 0">
        <!-- <img
          :src="image.src"
          class="img-fluid"
          :alt="image.label"
          v-for="image in images_transformed"
          :key="image.src"
        >-->

        <div
          class="slide"
          :class="'slide--' + index"
          v-for="(image, index) in images_transformed"
          :key="'image' + index"
        >
          <div class="slide-image" :style="{ backgroundImage: `url(${image.src})` }"></div>
        </div>
      </agile>
    </no-ssr>
  </div>
</template>

<script>
/**
 * Showing a gallery of product images
 */
export default {
  props: ["images"],

  computed: {
    images_transformed() {
      // extract the filename as image alt tag (or label)
      return this.images.map(i => ({
        src: i,
        label: i
      }));
    }
  }
};
</script>


<style lang="scss">
/* 
https://github.com/lukaszflorczak/vue-agile 
https://lukaszflorczak.github.io/vue-agile/
*/

.slide {
  background: {
    position: center;
    size: cover;
  }
  height: 500px;

  &:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .slide-image {
    width: 100%;
    height: 100%;

    background: {
      position: center;
      size: cover;
    }
  }
}

.agile {
  &__dots {
    bottom: 0;
    height: 2rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    align-items: center;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    text-align: center;
    -ms-flex-pack: center;
    -ms-flex-align: center;
  }

  &__dot {
    margin: 0 10px;

    button {
      background-color: black;
      border: 1px solid #fff;

      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      margin: 0;
      transition-duration: 0.3s;

      &:hover {
        background-color: #fff;
      }
    }

    &--current {
      button {
        background-color: #fff;
      }
    }
  }

  &__arrow {
    height: 100%;
    top: 0;
    width: 80px;
    cursor: pointer;

    border: none;
    bottom: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    transition-duration: 0.3s;
    background-color: transparent;

    &:hover {
      background-color: rgba(#000, 0.2);

      #arrow-svg {
        fill: #fff;
      }
    }

    &--next {
      right: 0;
    }

    &[disabled] {
      display: none;
    }

    #arrow-svg {
      fill: rgba(#fff, 0.4);
      height: 25px;
    }
  }
}
</style>