<template> 
  <section class="is-centered">

    <div class="tags has-addons">      
      <span class="tag is-small is-white" v-if="discountPercent > 0"><del>giá gốc {{ product.fields.price }}k</del></span>
      <span class="tag is-normal is-danger" v-if="discountPercent > 0">đã giảm {{discountPercent}}%</span>
      <span class="tag is-medium is-info">{{ salePrice }}k</span>
    </div>    

    <div class="level">
      <!-- Left side -->
      <!-- <div class="level-left">
        <div class="level-item">          
        </div>
      </div> -->

      <!-- Right side -->
      <div class="level-right">
        <div class="level-item">
          <div class="tags has-addons">
            <span class="tag is-white">SKU {{product.fields.sku}}</span>
            <span class="tag is-info" :title="`SKU${product.fields.quantity}: ${ product.fields.sku }`">chỉ còn {{ fusionRemainQuantity }} sản phẩm</span>
          </div>
        </div>
      </div>      
    </div>

    
  </section>
</template>

<script>
import ProductPricingBase from "./ProductPricingBase";
export default {
  props: ["product"],
  extends: ProductPricingBase,
  computed: {
    fusionRemainQuantity() {
      let q = this.product.fields.quantity;
      if (q < 5) {
        // let it be
      }

      if (q >= 5) {
        q = Math.round(Math.sqrt(q)) * 2;
      }

      return q;
    }
  }
};
</script>
