<template>  
  <img    :src="getImageSource"          :data-src="getDataImageSource"
          :alt="alt"
        >
</template>

<script>
// https://varvy.com/pagespeed/defer-images.html
export default {  
  props: ["src", "alt", "lazy"],
  computed: {  
    getImageSource() {
      if (this.lazy) {
        return "data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=";
      } else {
        return this.src;
      }
    },
    getDataImageSource() {
      if (this.lazy) {
        return this.src;
      } else {
        return undefined;
      }
    }
  }
}
</script>
