<template> 
  <div class="tags">          
    <span class="tag is-light" v-for="(t, index) in tags" :key="index" >{{t}}</span>
  </div>
</template>

<script>
export default {
  props: ["tags"]
};
</script>
