<template> 
<section>
  <figure v-for="(image, index) in images" :key="index" class="image ">
    <img :alt="image.title" :title="image.description" :src="image.url">
  </figure>
</section>
</template>

<script>
export default {
  props: ["images"]
};
</script>
