<template>
  <section class="CategoryList" v-if="categories && categories.length">
    <span class="CategoryItem" v-for="(cat) in categories" :key="cat._id">{{cat}}</span>
  </section>
</template>

<script>
export default {
  props: ["categories"],
  data() {
    return {};
  },

  methods: {}
};
</script>
<style lang="scss" scoped>
.CategoryItem {
  margin: 0 1rem;
}
</style>
