<template>
  <div class="cProductSizeGuide">
    <h3 class="is-capitalized">Fit & sizing</h3>
    <img src="~assets/images/size_guide.png">

    <table class="table">
      <tbody>
        <tr>
          <th>
            <label>Lens height</label>
          </th>
          <td>{{ dimensions[0] }}</td>
        </tr>
        <tr>
          <th>
            <label>Lens width</label>
          </th>
          <td>{{ dimensions[1] }}</td>
        </tr>
        <tr>
          <th>
            <label>Bridge</label>
          </th>
          <td>{{ dimensions[2] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ["size"],
  computed: {
    /**
     * split the size with popular separators, comma, semicolon, space
     */
    dimensions() {
      if (!this.size) {
        return [];
      }

      let arrDimensions = this.size.split(/[,;&\s]/);
      return arrDimensions;
    }
  }
};
</script>

<style lang="scss" scoped>
</style>