<template>
  <div class="cProductFaceShapes">
    <div class="pdp-fitting-sizing">
      <h3 class="is-capitalized">Face shapes</h3>

      <ul class="face-shapes-list">
        <li v-for="shape in face_shapes" :key="shape" class="shapeBadge" :class="shape">
          <p></p>
          <p class="shapeBadgeLabel">{{ shape }}</p>
        </li>
      </ul>

      <!-- <a href="#" id="faceShapeToolModalLink">What's my face shape?</a>
      FACE SHAPE
      Heart? Square? Find your face shape and we'll point you towards frame shapes that flatter. You can use these recommendations to help narrow your search in store.
      shape heart
      HEART
      A heart-shaped face is defined by a broader forehead and narrower jawline and chin.
      shape round
      ROUND
      A round face is defined by a soft, circular shape where the width and length are almost equal.
      shape square
      SQUARE
      A square face is defined by strong, well-defined angles in the forehead, cheeks, and jawline.
      shape oval
      OVAL
      An oval face is defined by balanced features and a chin slightly narrower than the forehead.-->
    </div>
  </div>
</template>

<script>
/**
 * Showing a gallery of product images
 */
export default {
  props: ["face_shapes"],

  computed: {
    images_transformed() {
      // extract the filename as image alt tag (or label)
      return this.images.map(i => ({
        src: i,
        label: i
      }));
    }
  }
};
</script>


<style lang="scss" scoped>
.pdp-fitting-sizing .face-shapes-list {
  margin-top: 1rem;  

  p::before {
    background-size: 400%;
    background-image: url(~assets/images/face_shape_sprite.png);
    height: 43.9px;
    margin: 0 auto 3px;
    width: 36.6px;
  }
}
</style>