<template>
  <!-- <section class> -->
    <div class="container">
      <component
        :key="blok._uid"
        v-for="blok in $store.state.settings.header"
        :blok="blok"
        :is="blok.component | dashify"
      ></component>

      <main id="main" role="main" class="body__content">
        <nuxt/>
      </main>

      <component
        :key="blok._uid"
        v-for="blok in $store.state.settings.footer"
        :blok="blok"
        :is="blok.component | dashify"
      ></component>
    </div>
  <!-- </section> -->
</template>

<style lang="scss">
@import '../assets/scss/styles.scss';
</style>
