<template>
  <div>
    <component
      v-if="story.content.component"
      :key="story.content._uid"
      :blok="story.content"
      :is="story.content.component | dashify"
    ></component>
  </div>
</template>

<script>
import storyblokLivePreview from "~/mixins/storyblokLivePreview";
import Api from "~/lib/Api.storyBlok";

export default {
  mixins: [storyblokLivePreview],
  head() {
    let viewmodel = this.story;

    return {
      title: viewmodel.content.SEOTitle || viewmodel.name,
      meta: [
        {
          hid: `keywords`,
          property: "keywords",
          content: viewmodel.content.SEOKeywords || this.$WhiteLabel.brandname
        },
        {
          hid: `description`,
          name: "description",
          content: viewmodel.content.SEODescription || this.$WhiteLabel.description
        }
      ]
    };
  },

  data() {
    return { story: { content: {} } };
  },

  /**
   * You don't have access of the component instance through this inside asyncData because it is called before initiating the component
   */
  async asyncData(context) {
    // payload is what we can have when use `nuxt generating`
    if (context.payload) return context.payload;

    let { route } = context;
    let desireLanguage;



    // inspect the route, if it start with
    let starWithLang = /^\/\w\w\//gi; // start with /, then 2 chars, then /
    if (starWithLang.test(route.fullPath)) {
      // /ja/ ==> ja
      desireLanguage = route.fullPath.substring(0, 4).replace(/\//gi, "");

      // desire lang is in our allowed languages
      if (this.$WhiteLabel.languagesAllowed.indexOf(desireLanguage) >= 0) {
        // accepted this lang, now we set the store to that lang
        context.store.commit("setLanguage", desireLanguage);
      } else {
        desireLanguage = null;
      }
    }

    let version = "published";
    let modifiedRoutePathWithoutLanguage = desireLanguage ? context.route.path.replace(starWithLang, "/") : context.route.path; // remove "/ja" from "/ja/contact"
    let path = modifiedRoutePathWithoutLanguage == "/" ? "home" : modifiedRoutePathWithoutLanguage;

    let data = await Api.loadStoryData({
      api: context.app.$storyapi,
      path,
      version,
      language: desireLanguage,
      cacheVersion: context.store.state.cacheVersion,
      errorCallback: context.error
    });

        // debugger;
        console.log(data)

    return data;
  }
};
</script>
