<template>

  <section v-editable="page.data.story" class data-meta-type=" static pages / articles">
    <!-- Article list page    -->
    <div class="container">
      <section
        class="hero is-medium is-primary is-bold"
        :style="{'backgroundImage': `url(${page.data.story.content.background })`}"
      >
        <div class="hero-body">
          <div class="container">
            <h1 class="title">{{ page.data.story.content.headline }}</h1>
            <h2 class="subtitle">{{ page.data.story.content.subheadline }}</h2>
          </div>
        </div>
      </section>

      <div class="row">
        <ArticleListItem :article="article" v-for="article in articles.data.stories" :key="article.id" />        
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      page: { story: { content: [] } },
      articles: { data: { stories: [] } }
    }
  },
  props: ['blok'],
  async asyncData({ app, store }) {
    let [page, articles] = await Promise.all([
      app.$storyapi.get('cdn/stories/articles', {
        cv: store.state.cacheVersion
      }),

      app.$storyapi.get('cdn/stories', {
        starts_with: 'articles/',
        is_startpage: '0',
        cv: store.state.cacheVersion
      })
    ])

    return {
      page,
      articles
    }
  }
}
</script>
