<template>
  <section
    v-editable="page.data.story"
    class="cPageProducts"
    data-meta-desc="products listing page"
  >
    <div class="container">
      <section
        v-if="page.data.story.content.headline"
        class="hero is-medium is-primary has-background-info has-text-centered is-bold"
        style="margin-bottom: 2rem"
        :style="{'backgroundImage': `url(${page.data.story.content.background })`
            
            }"
      >
        <div class="hero-body">
          <div class="container">
            <h1 class="title">{{ page.data.story.content.headline }}</h1>
            <h2 class="subtitle">{{ page.data.story.content.subheadline }}</h2>
          </div>
        </div>
      </section>

      <ProductList :products="products.data.stories"/>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      page: { story: { content: [] } },
      products: { data: { stories: [] } }
    };
  },
  computed: {},

  props: ["blok"],
  async asyncData({ app, store }) {
    let [page, products] = await Promise.all([
      app.$storyapi.get("cdn/stories/products", {
        cv: store.state.cacheVersion
      }),

      app.$storyapi.get("cdn/stories", {
        starts_with: "products/",
        is_startpage: "0",
        cv: store.state.cacheVersion
      })
    ]);

    return {
      page,
      products
    };
  }
};
</script>
