<template>
  <section class="util__container">
    <div class="sitemap">
      <PageTitle>Sitemap</PageTitle>

      <div v-for="branch in tree" :key="branch.item.id" class="RootBranch box">
        <h2 class="subtitle">
          <a :href="'/' + branch.item.slug">{{branch.item.name}}</a>
        </h2>
        <dl>
          <li v-for="subbranch in branch.children" :key="subbranch.id">
            <SitemapItem :branch="subbranch"/>
          </li>
        </dl>
      </div>
    </div>
  </section>
</template>

<script>
// TODO: Gen sitemap.xml for Google https://www.storyblok.com/tp/how-to-generate-sitemap-headless-cms

import Api from "~/lib/Api.storyBlok";

export default {
  head() {
    // we can access this here as Data
    return {
      title: this.viewmodel && this.viewmodel.content ? this.viewmodel.content.SEOTitle : "Sitemap"
    };
  },

  data() {
    return {
      viewmodel: {},
      links: {}
    };
  },
  async asyncData(context) {
    // load the remote page as viewmodel for this
    context.app.viewmodel = await Api.loadStoryData({
      version: "published",
      api: context.app.$storyapi,
      cacheVersion: context.store.state.cacheVersion,
      errorCallback: context.error,
      path: context.route.path
    });

    // console.log('SITEMAP in asyncData', context.app.viewmodel)
    // { links:
    //    { '1fec2932-a2d4-4fe2-87e6-575db771b210':
    //       { id: 478048,
    //         slug: 'service',
    //         name: 'Service',
    //         is_folder: true,
    //         parent_id: 0,
    //         published: false,
    //         position: -212945,
    //         uuid: '1fec2932-a2d4-4fe2-87e6-575db771b210',
    //         is_startpage: false }
    //    }
    // }

    let apiParam = {
      version: "published",
      // starts_with: context.store.state.language,
      cv: context.store.state.cacheVersion
    };
    try {
      let res = await context.app.$storyapi.get("cdn/links", apiParam);      
      var ret = { links: res.data.links, viewmodel: context.app.viewmodel };
      return ret;
    } catch (error) {
      context.error(error);
    }
  },

  computed: {
    tree() {
      let parentChilds = this.parentChildMap(this.links);      
      let ret = this.generateTree(0, parentChilds);
      return ret;
    }
  },

  methods: {
    /**
     * from links
     */
    parentChildMap(links) {
      let tree = {};      
      let linksArray = Object.keys(links).map(e => links[e])
      linksArray = linksArray.filter(link => link.name.indexOf("__CONFIG__") < 0);  // ignore __CONFIG__ story

      linksArray.forEach(link => {
        if (!tree[link.parent_id]) {
          tree[link.parent_id] = [];
        }

        tree[link.parent_id].push(link);
      });

      return tree;
    },
    generateTree(parent, items) {
      let tree = {};

      if (items[parent]) {
        let result = items[parent];

        result.forEach(cat => {
          if (!tree[cat.id]) {
            tree[cat.id] = { item: {}, children: [] };
          }
          tree[cat.id].item = cat;
          tree[cat.id].children = this.generateTree(cat.id, items);
        });
      }

      return Object.keys(tree).map(e => tree[e]);
    }
  }
};
</script>

<style lang="scss">
.sitemap {
  max-width: 600px;
  margin: 20px auto 60px;
}
</style>
